<%= user_links(comment.author) %> <br> <br>
<div style="margin-left: 50px"><%= comment.body %></div>
<div> __________________________________________________________________________________________________________</div>
