<div class="userListContainer">
<h2>People:</h2>
  <% users.each do |user| %>
    <div class="userContainer">
      <%= user_links(user, class: "userLink")%>

      <!--Display a follow request button if the user has not sent request from the current_user  in the database
      or an unfollow_button if the user is already followed.-->
      <div><%= follow_request_form(user, sent_follow_requests)%></div>
      <div><%= unfollow_button(user)%></div>
    </div>
  <% end %>

</div>
