<h2>People:</h2>
  <% users.each do |user| %>
    <%= user_links(user)%>

  <!--Display a follow request button if the user has no sent request from the current_user  in the database
  or an unfollow_button if the user is already followed.-->
    <%= follow_request_form(user, sent_follow_requests)%>
    <%= unfollow_button(user)%>
    <br>
  <% end %>

<br>

<%= button_to 'Log out', destroy_user_session_path, method: :delete %>  
