<h3><%= user_links(post.author)%></h3>

<%= post.body %><br> <br>

<div style="display: inline-block;">
  <%= like_button(post) %>
</div>
<div id="likes" style="display: inline-block;">
  <%= post.likes.count%>
</div>

<div> __________________________________________________________________________________________________________</div>
