<h3><%= user_links(post.author)%></h3>

<%= post.body %><br> <br>

<div style="display: inline-block;">
  <%= render partial: 'likes/form', locals: {post: post}%>
</div>
<div id="likes">
  <%= post.likes.count%>
</div>

<div> __________________________________________________________________________________________________________</div>
