.reqListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reqContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-bottom: 1px #213448 solid;
  padding-bottom: 10px;
  width: 90%;
}

.reqBtnContainer {
  display: flex;
  gap: 10px;
}

#reqBtn {
  width: fit-content;
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-radius: 5px;
}
