.profileContainer {
  padding: 0 20px 0 20px;
  display: flex;
  gap: 5vw;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}

label.submitBtn {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.infoList {
  list-style: none;
  margin: 20px 0 20px 0;
  font-weight: bold;
}
